a{
	color:#FFFFFF;
}
ul {
	style-type:none;width:100%;text-align:right;
}
li {	
	display:inline;
}
p{
	font-family:MingLiU;
	color:#FFFFFF;
}
h1{
	color:#FFFFFF;
	font-family:Microsoft yahei;
	text-align:center;
}
*{
	box-sizing: border-box;
}

body{
	background: url(http://img.taopic.com/uploads/allimg/140328/234990-14032P92J113.jpg) repeat scroll top ;
	padding: 0;
	margin: 0;	
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
#wrapper{
	max-width: 1200px;
	min-width: 800px;
	margin: auto;
}
header,footer{
	border: 1px solid #9df;
	margin: 1% 0;
	height: 120px;
}
aside,main{
	border: 1px ;
}
section,aside,main{
	min-height: 500px;
}
aside{
	width: 30%;
	margin-right: 0.5%;
	float: left;
}
main{
	width: 69%;
	float: right;
}